<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netshop.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission  android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:name="com.netshop.app.NetShopApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
         >
        <activity
            android:name="com.netshop.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.netshop.activity.SearchActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.GoodsDetilsActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <!-- <activity android:name="com.netshop.activity.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/> -->
        <activity android:name="com.netshop.activity.UpdateInfoActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.ShopDetialsActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.RegisterActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.SupportActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.AddrManagerActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.AddrEditActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.CollectActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.AccountActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.PhoneChangeActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.PasswordChangeActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.PersonInfoActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.CityChooseActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.netshop.activity.PlantTypeActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
